# .gitignore
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="" # Paste your ACCESS_TOKEN here

APP_ID=" " # Paste your APP_ID here
APP_SECRET="" # Paste your APP_SECRET here
RECIPIENT_WAID=""  # Paste your RECIPIENT_WAID here (for testing phone numbers)
VERSION="v18.0"
PHONE_NUMBER_ID="" # Paste your PHONE_NUMBER_ID here

VERIFY_TOKEN=""  # Paste your VERIFY_TOKEN here

