<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
    <link rel="shortcut icon" href="static/favicons/redcliff-logo.png" type="image/x-icon">
    <link href="{{url_for('static',filename='css/own.css')}}" rel="stylesheet">

    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Healthie</title>
</head>
<body>
<header class="text-gray-600 body-font">
    <div class=" mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="static/favicons/redcliff-logo.png" class="w-10 h-10" alt="">
        <span class="ml-3 text-xl">Healthie</span>
        </a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <a class="mr-5 hover:text-gray-900">Home</a>
        <a class="mr-5 hover:text-gray-900">About</a>
        <a class="mr-5 hover:text-gray-900">How it Works</a>
        </nav>
        <!-- <a href="https://reportify-vert.vercel.app/"> -->
        <a href="/signup">
        <button class="inline-flex items-center bg-[#064755] text-[#40ee97] border-0 focus:outline-none px-7 py-3 rounded-2xl text-base mt-4 md:mt-0">Sign Up
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
        </a>
    </div>
    </header>
    
    <div class="body">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/signup" method="POST">
                    <h1>Create Account</h1>
                    <span>Sign Up and become <strong>Healthie</strong> 💪</span>
                    <br>
    
                    <div class="infield">
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder = "Enter your Username" required>
                    </div>
                    <div class="infield">
                        <label for="password"></label>
                        <input type="password" id="password" name="password" placeholder = "Enter Password" required>
                    </div>
    
                    <button type="submit">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method = "POST">
                    <h1>Sign in</h1>
                    <div class="infield">
                        <label for="username"></label>
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="infield">
                        <label for="password"></label>
                        <input type="password" id="password" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit">Sign In</button>
                </form>
            </div>
            <div class="overlay-container" id="overlayCon">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button>Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your Details and start Healthie journey with us</p>
                        <button id="signUpBtn">Sign Up</button>                
                    </div>
                </div>
                <button id="overlayBtn"></button>
            </div>
        </div>
    </div>
    <!-- <span class="big-circle">
        <span class="inner-circle"></span>
    </span> -->
    <!-- <img src="https://i.imgur.com/wcGWHvx.png" class="square" alt="" /> -->
    

    <script>
      const container = document.getElementById('container');
      const overlayCon = document.getElementById('overlayCon');
      const overlayBtn = document.getElementById('overlayBtn');

      overlayBtn.addEventListener('click', () => {
        container.classList.toggle('right-panel-active');

        overlayBtn.classList.remove('btnScaled');
        window.requestAnimationFrame(() => {
          overlayBtn.classList.add('btnScaled');
        });
      });

    </script>
    
</body>
</html>